@font-face {
    font-family: University;
    src: url(Font/University.otf);
}
* {
    margin: 0px;
    padding: 0%;
    background-color: #f2f4f3;
}
h3, p {
    color: rgb(54, 104, 197);
    margin: 5px 15px 5px 20px;
}
ul{
    color: rgb(54, 104, 197);
    margin-left: 30px;
    list-style: circle;
}
h2 {
    color: #0b132b;
    margin: 10px 15px 5px 20px;
}
h1 {
    color: #0b132b;
    margin: 5px 15px 5px 15px;
    text-align: center;
    font-family: University;
    letter-spacing: 2px;
}
a:link, a:visited {
    color: #1f01b9;
    text-decoration: none;
    margin: 5px 15px 5px 20px;
}
a:hover {
    text-decoration: underline;
    color: #80a4ed;
    margin: 5px 15px 5px 20px;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    margin: 10px;
}
.card {
    background-color: rgb(152, 183, 239);
    margin: 5px;
    padding: 15px;
    overflow: hidden;
    border-radius: 15px;
    border: 5px solid rgb(1, 47, 132);
}
.card img {
    max-width: 100%;
    height: auto;
}
.card h2,.card p {
    color: #3f4aa3;
    margin: 5px 5px 5px 5px;
    background: none;
}
.mq-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.intro {
    padding: 15px;
}
.main {
    padding: 15px;
}
/* The media query enables us to change the rules of some tages or classes
based on the screen size.
In this case, the rules inside the media query will come into effect
when the screen size drops below 800px */
@media only screen and (max-width: 800px){
    .mq-container{
        grid-template-columns: 1fr;
    }
    .intro {
        background-color: rgb(163, 208, 247);
        border: 2px white solid;
    }
    h2, h1, p, ul, li {
        background: none;
    }
}
