* {
    margin: 0px;
    padding: 0px    ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 50;
}
body {
    padding: 0px 40px 0px 40px;
    background-color: #226096;
}
.intro img {
    max-width: 100%;
    height: auto;
}
h3 {
    margin: 10px 0px;
    color: blue;
    font-style: italic;
}
.link{
    display: inline-block;
    margin: 0 auto;
    margin-top: 10px;
}
a:link, a:visited {
    text-decoration: none;
    text-align: center;
    color: #002744;
    margin: 0px 25px;
}
a:hover {
    text-decoration: underline;
}
.intro {
    background-color: white;
    display: grid;
}
.main {
    margin: 20px;
}
.main img {
    width: 100%;
    height: auto;
}
footer {
    background-color: #d4dde6;
    text-align: center;
}
.events {
    margin: 20px;
}
footer img, p {
    padding: 5px;
}
.content {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.heading {
    color: rgb(12, 12, 150);
    font-style: normal;
    font-weight: bold;
}
@media only screen and (max-width: 1000px) {
    .content {
        grid-template-columns: 1fr;
    }
    .events {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .heading {
        display: none;
    }
}
