@font-face {
    font-family: University;
    src: url(Font/University.otf);
}
/* The universal selector */
* {
    margin: 0px;
    padding: 0%;
}
/* Overide a tag's presets by entering its name */
body {
    background-color: rgb(0, 0, 0);
    font-family: University;
    color: beige;
    /* Directions are clockwise, starting at the top */
    padding: 20px 30px;
}
p {
    color: rgb(237, 187, 100);
}
h1 {
    color: pink
}
a:link, a:visited {
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: white;
}
ul, ol {
    margin-left: 20px;
}
/* Classes are used to style individual tags.
They start with a period (.) */
.caption {
    color: cornflowerblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}